<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:w="urn:schemas-microsoft-com:office:word"
xmlns:m="http://schemas.microsoft.com/office/2004/12/omml"
xmlns:mv="http://macVmlSchemaUri" xmlns="http://www.w3.org/TR/REC-html40">

<head>
<meta name=Title content="">
<meta name=Keywords content="">
<meta http-equiv=Content-Type content="text/html; charset=macintosh">
<meta name=ProgId content=Word.Document>
<meta name=Generator content="Microsoft Word 14">
<meta name=Originator content="Microsoft Word 14">
<link rel=File-List href="Jacinto%20Callu%20-%20Resume_files/filelist.xml">
<link rel="stylesheet" href="/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/index.css">
<script type="text/javascript" href="/js/bootstrap.min.js"></script>
<!--[if gte mso 9]><xml>
 <o:DocumentProperties>
  <o:Author>Jacinto Callu</o:Author>
  <o:LastAuthor>Jacinto Callu</o:LastAuthor>
  <o:Revision>2</o:Revision>
  <o:TotalTime>59</o:TotalTime>
  <o:LastPrinted>2016-09-15T20:51:00Z</o:LastPrinted>
  <o:Created>2016-10-02T20:59:00Z</o:Created>
  <o:LastSaved>2016-10-02T20:59:00Z</o:LastSaved>
  <o:Pages>1</o:Pages>
  <o:Words>549</o:Words>
  <o:Characters>3130</o:Characters>
  <o:Company>SDI</o:Company>
  <o:Lines>26</o:Lines>
  <o:Paragraphs>7</o:Paragraphs>
  <o:CharactersWithSpaces>3672</o:CharactersWithSpaces>
  <o:Version>14.0</o:Version>
 </o:DocumentProperties>
 <o:OfficeDocumentSettings>
  <o:AllowPNG/>
 </o:OfficeDocumentSettings>
</xml><![endif]-->
<link rel=themeData href="Jacinto%20Callu%20-%20Resume_files/themedata.xml">
<!--[if gte mso 9]><xml>
 <w:WordDocument>
  <w:SpellingState>Clean</w:SpellingState>
  <w:GrammarState>Clean</w:GrammarState>
  <w:TrackMoves/>
  <w:TrackFormatting/>
  <w:PunctuationKerning/>
  <w:ValidateAgainstSchemas/>
  <w:SaveIfXMLInvalid>false</w:SaveIfXMLInvalid>
  <w:IgnoreMixedContent>false</w:IgnoreMixedContent>
  <w:AlwaysShowPlaceholderText>false</w:AlwaysShowPlaceholderText>
  <w:DoNotPromoteQF/>
  <w:LidThemeOther>EN-US</w:LidThemeOther>
  <w:LidThemeAsian>JA</w:LidThemeAsian>
  <w:LidThemeComplexScript>X-NONE</w:LidThemeComplexScript>
  <w:Compatibility>
   <w:BreakWrappedTables/>
   <w:SnapToGridInCell/>
   <w:WrapTextWithPunct/>
   <w:UseAsianBreakRules/>
   <w:DontGrowAutofit/>
   <w:SplitPgBreakAndParaMark/>
   <w:EnableOpenTypeKerning/>
   <w:DontFlipMirrorIndents/>
   <w:OverrideTableStyleHps/>
   <w:UseFELayout/>
  </w:Compatibility>
  <m:mathPr>
   <m:mathFont m:val="Cambria Math"/>
   <m:brkBin m:val="before"/>
   <m:brkBinSub m:val="&#45;-"/>
   <m:smallFrac m:val="off"/>
   <m:dispDef/>
   <m:lMargin m:val="0"/>
   <m:rMargin m:val="0"/>
   <m:defJc m:val="centerGroup"/>
   <m:wrapIndent m:val="1440"/>
   <m:intLim m:val="subSup"/>
   <m:naryLim m:val="undOvr"/>
  </m:mathPr></w:WordDocument>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <w:LatentStyles DefLockedState="false" DefUnhideWhenUsed="true"
  DefSemiHidden="true" DefQFormat="false" DefPriority="99"
  LatentStyleCount="276">
  <w:LsdException Locked="false" Priority="0" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Normal"/>
  <w:LsdException Locked="false" Priority="9" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="heading 1"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 2"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 3"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 4"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 5"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 6"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 7"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 8"/>
  <w:LsdException Locked="false" Priority="9" QFormat="true" Name="heading 9"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 1"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 2"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 3"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 4"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 5"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 6"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 7"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 8"/>
  <w:LsdException Locked="false" Priority="39" Name="toc 9"/>
  <w:LsdException Locked="false" Priority="35" QFormat="true" Name="caption"/>
  <w:LsdException Locked="false" Priority="10" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Title"/>
  <w:LsdException Locked="false" Priority="1" Name="Default Paragraph Font"/>
  <w:LsdException Locked="false" Priority="11" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtitle"/>
  <w:LsdException Locked="false" Priority="22" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Strong"/>
  <w:LsdException Locked="false" Priority="20" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Emphasis"/>
  <w:LsdException Locked="false" Priority="59" SemiHidden="false"
   UnhideWhenUsed="false" Name="Table Grid"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Placeholder Text"/>
  <w:LsdException Locked="false" Priority="1" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="No Spacing"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 1"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 1"/>
  <w:LsdException Locked="false" UnhideWhenUsed="false" Name="Revision"/>
  <w:LsdException Locked="false" Priority="34" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="List Paragraph"/>
  <w:LsdException Locked="false" Priority="29" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Quote"/>
  <w:LsdException Locked="false" Priority="30" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Quote"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 1"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 1"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 1"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 1"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 1"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 1"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 1"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 2"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 2"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 2"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 2"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 2"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 2"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 2"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 2"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 3"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 3"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 3"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 3"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 3"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 3"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 3"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 3"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 4"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 4"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 4"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 4"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 4"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 4"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 4"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 4"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 5"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 5"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 5"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 5"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 5"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 5"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 5"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 5"/>
  <w:LsdException Locked="false" Priority="60" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="61" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light List Accent 6"/>
  <w:LsdException Locked="false" Priority="62" SemiHidden="false"
   UnhideWhenUsed="false" Name="Light Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="63" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="64" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Shading 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="65" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="66" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium List 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="67" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 1 Accent 6"/>
  <w:LsdException Locked="false" Priority="68" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 2 Accent 6"/>
  <w:LsdException Locked="false" Priority="69" SemiHidden="false"
   UnhideWhenUsed="false" Name="Medium Grid 3 Accent 6"/>
  <w:LsdException Locked="false" Priority="70" SemiHidden="false"
   UnhideWhenUsed="false" Name="Dark List Accent 6"/>
  <w:LsdException Locked="false" Priority="71" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Shading Accent 6"/>
  <w:LsdException Locked="false" Priority="72" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful List Accent 6"/>
  <w:LsdException Locked="false" Priority="73" SemiHidden="false"
   UnhideWhenUsed="false" Name="Colorful Grid Accent 6"/>
  <w:LsdException Locked="false" Priority="19" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Emphasis"/>
  <w:LsdException Locked="false" Priority="21" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Emphasis"/>
  <w:LsdException Locked="false" Priority="31" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Subtle Reference"/>
  <w:LsdException Locked="false" Priority="32" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Intense Reference"/>
  <w:LsdException Locked="false" Priority="33" SemiHidden="false"
   UnhideWhenUsed="false" QFormat="true" Name="Book Title"/>
  <w:LsdException Locked="false" Priority="37" Name="Bibliography"/>
  <w:LsdException Locked="false" Priority="39" QFormat="true" Name="TOC Heading"/>
 </w:LatentStyles>
</xml><![endif]-->
<style>
<!--
 /* Font Definitions */
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;
	mso-font-charset:128;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:fixed;
	mso-font-signature:1 134676480 16 0 131072 0;}
@font-face
	{font-family:"\FF2D\FF33 \660E\671D";
	panose-1:0 0 0 0 0 0 0 0 0 0;
	mso-font-charset:128;
	mso-generic-font-family:roman;
	mso-font-format:other;
	mso-font-pitch:fixed;
	mso-font-signature:1 134676480 16 0 131072 0;}
 /* Style Definitions */
p.MsoNormal, li.MsoNormal, div.MsoNormal
	{mso-style-unhide:no;
	mso-style-qformat:yes;
	mso-style-parent:"";
	margin:0in;
	margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
a:link, span.MsoHyperlink
	{mso-style-priority:99;
	color:blue;
	mso-themecolor:hyperlink;
	text-decoration:underline;
	text-underline:single;}
a:visited, span.MsoHyperlinkFollowed
	{mso-style-noshow:yes;
	mso-style-priority:99;
	color:purple;
	mso-themecolor:followedhyperlink;
	text-decoration:underline;
	text-underline:single;}
span.SpellE
	{mso-style-name:"";
	mso-spl-e:yes;}
span.GramE
	{mso-style-name:"";
	mso-gram-e:yes;}
.MsoChpDefault
	{mso-style-type:export-only;
	mso-default-props:yes;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-fareast-font-family:"\FF2D\FF33 \660E\671D";
	mso-fareast-theme-font:minor-fareast;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;
	mso-bidi-font-family:"Times New Roman";
	mso-bidi-theme-font:minor-bidi;}
@page WordSection1
	{size:8.5in 11.0in;
	margin:.8in .9in .8in .9in;
	mso-header-margin:.5in;
	mso-footer-margin:.5in;
	mso-paper-source:0;}
div.WordSection1
	{page:WordSection1;}
-->
</style>
<!--[if gte mso 10]>
<style>
 /* Style Definitions */
table.MsoNormalTable
	{mso-style-name:"Table Normal";
	mso-tstyle-rowband-size:0;
	mso-tstyle-colband-size:0;
	mso-style-noshow:yes;
	mso-style-priority:99;
	mso-style-parent:"";
	mso-padding-alt:0in 5.4pt 0in 5.4pt;
	mso-para-margin:0in;
	mso-para-margin-bottom:.0001pt;
	mso-pagination:widow-orphan;
	font-size:12.0pt;
	font-family:Cambria;
	mso-ascii-font-family:Cambria;
	mso-ascii-theme-font:minor-latin;
	mso-hansi-font-family:Cambria;
	mso-hansi-theme-font:minor-latin;}
</style>
<![endif]--><!--[if gte mso 9]><xml>
 <o:shapedefaults v:ext="edit" spidmax="1027"/>
</xml><![endif]--><!--[if gte mso 9]><xml>
 <o:shapelayout v:ext="edit">
  <o:idmap v:ext="edit" data="1"/>
 </o:shapelayout></xml><![endif]-->
</head>

<body id="BodyBackground" lang=EN-US link=blue vlink=purple style='tab-interval:.5in'>
  <div class="col-lg-2 margin"></div>
  <div class="col-lg-8 content">
    <div class="WordSection1 row">

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><b style='mso-bidi-font-weight:normal'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>Jacinto Callu<o:p></o:p></span></b></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><span style='font-family:"Times New Roman";
    mso-bidi-font-family:"Times New Roman";color:black;mso-themecolor:text1'>jacinto@jacintocallu.com<o:p></o:p></span></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><span style='font-family:"Times New Roman";
    mso-bidi-font-family:"Times New Roman";color:black;mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><span style='font-family:"Times New Roman";
    mso-bidi-font-family:"Times New Roman";color:black;mso-themecolor:text1'>TECHNICAL
    SKILLS<o:p></o:p></span></p>

    <p  style='margin-left:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Software: <span class=SpellE>Javascript</span>,
    Node.js, <span class=SpellE>CasperJS</span>, <span class=SpellE><span
    class=GramE>PhantomJS</span></span><span class=GramE> ,</span> Bash , v8,
    C/C++,<span style="mso-spacerun:yes">&nbsp; </span>Java, <o:p></o:p></span></p>

    <p  style='margin-left:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'><span style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
    class=SpellE>CSS<span class=GramE>,HTML,jQuery</span></span>, <span
    class=SpellE>AngularJS</span>, <span class=SpellE>Bootstramp</span>, Foundation
    , Python.<o:p></o:p></span></p>

    <p  style='margin-left:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Hardware/<span class=SpellE>Cloudware</span>: AWS (EC2,
    S3, Route53, SNS, Security Groups configuration), <o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.5in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'><span style="mso-spacerun:yes">&nbsp;&nbsp;
    </span><span style='mso-tab-count:2'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span><span
    style="mso-spacerun:yes">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span
    class=SpellE>VMWare</span>, Linux, Ubuntu, Centos, <span class=SpellE>ip</span>-tables,
    <span class=SpellE>ufw</span>.<o:p></o:p></span></p>

    <p  style='margin-left:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Documentation: JIRA/Confluence<o:p></o:p></span></p>

    <p  style='margin-left:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Operating Systems: Unix, Linux, Ubuntu, <span
    class=SpellE><span class=GramE>CentOS</span></span><span class=GramE> ,</span>
    Mac OS X, Windows<o:p></o:p></span></p>

    <p  style='margin-left:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Networking: TCP/IP, HTTP, Security (<span class=SpellE>ip</span>-tables,
    <span class=SpellE>sshd_config</span>, <span class=SpellE><span class=GramE>ufw</span></span><span
    class=GramE> )</span><o:p></o:p></span></p>

    <p  style='margin-left:.25in;line-height:115%'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- Database: <span class=SpellE>Postgresql</span>,
    <span class=SpellE>Mysql</span>, <span class=SpellE>Sqlite</span>, <span
    class=SpellE>Memsql</span>, <span class=SpellE>Elasticsearch</span><o:p></o:p></span></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><span style='font-family:"Times New Roman";
    mso-bidi-font-family:"Times New Roman";color:black;mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><span style='font-family:"Times New Roman";
    mso-bidi-font-family:"Times New Roman";color:black;mso-themecolor:text1'>PROFESSIONAL
    EXPERIENCE<o:p></o:p></span></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><span style='font-family:"Times New Roman";
    mso-bidi-font-family:"Times New Roman";color:black;mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><b style='mso-bidi-font-weight:normal'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>Structured Data Intelligence</span></b><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>, Santa Monica, CA 2014-present<o:p></o:p></span></p>

    <p  style='text-indent:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Senior Software Engineer, Lead Developer for The Video
    Genome Project<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Collaborate with the executive team and developers to
    develop next generation video content discovery tools. <span class=GramE>Full-stack
    design &amp; development of software systems to create a
    collective-intelligence-based catalog.</span> Create discovery and curation
    tools to enhance user experience. Develop software focused on scalability,
    performance. <span class=GramE>Expert in <span class=SpellE>Javascript</span>
    development.</span> <o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Main Responsibilities:<o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- Design &amp; Implementation<o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- Manage software development team<o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- <span class=SpellE>DevOps</span><o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- DBA<o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- SysOps<o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- <span class=SpellE>NetworkOps</span><o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- <span class=SpellE>DataOps</span><o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- QA<o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>Selected Accomplishments:<o:p></o:p></span></p>

    <p  style='margin-left:.25in;text-indent:.25in;line-height:115%;
    mso-pagination:none;mso-layout-grid-align:none;text-autospace:none'><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- Developed automation tools for re/building
    servers, <span class=SpellE>transfering</span> data, backing systems <o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'><span style="mso-spacerun:yes">&nbsp;&nbsp; </span><span
    class=GramE>for</span> the purpose of simplifying system operations tasks.<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Refactored codebase from a convoluted evolution legacy
    structure to a readable and<span style="mso-spacerun:yes">&nbsp;&nbsp; </span><o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'><span style="mso-spacerun:yes">&nbsp; </span><span
    class=GramE>hierarchically</span> organized structure.<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Created sophisticated, innovative back-end application
    solutions.<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Developed highly modularized frameworks with reusable
    components for improving development speed. <o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- <span class=GramE>Delivered</span> a wide range of
    functionality enhancements to discovery tools.<o:p></o:p></span></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><span class=SpellE><b style='mso-bidi-font-weight:
    normal'><span style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>NewHound</span></b></span><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>, Orange County, CA 2013- 2014<o:p></o:p></span></p>

    <p  style='text-indent:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Ruby on Rails Developer, SQL Developer<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Assigned to self-managed projects to create business and
    customer metric pages using the Ruby on Rails framework and APIs to display the
    data in the form of tables and charts using Highcharts.js. Focused on
    optimization and readability.<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Main Responsibilities:<o:p></o:p></span></p>

    <p  style='text-indent:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span class=GramE><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- Develop Full-stack Ruby on Rails
    applications.</span></span><span style='font-family:"Times New Roman";
    mso-bidi-font-family:"Times New Roman";color:black;mso-themecolor:text1'><o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Develop features for displaying business metrics using <span
    class=SpellE>Highcharts</span> JS charting library.<o:p></o:p></span></p>

    <p  style='text-indent:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Manage projects with <span class=SpellE>GitHub</span>
    and deploy changes to <span class=SpellE>Heroku</span>.<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span class=GramE><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>- Collaborate with Operations Manager to
    develop financial, account, and business metrics.</span></span><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'><o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='text-indent:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Selected Accomplishments:<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Develop Ruby on Rails applications and became proficient
    to develop and deploy Full-stack web applications.<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Applied best practices using <span class=GramE>Agile</span>
    development techniques. <span class=SpellE>Postgresql</span> Developer, Ruby
    and Bash Script Programmer, and Data Analyst <o:p></o:p></span></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><span style='font-family:"Times New Roman";
    mso-bidi-font-family:"Times New Roman";color:black;mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><span class=SpellE><b style='mso-bidi-font-weight:
    normal'><span style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>AppStack</span></b></span><span
    style='font-family:"Times New Roman";mso-bidi-font-family:"Times New Roman";
    color:black;mso-themecolor:text1'>, Temecula, CA June 2013 - October 2013<o:p></o:p></span></p>

    <p  style='text-indent:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>SQL Developer<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Create and deliver SQL-based financial reports to
    accountant and executives of the company, and displaying performance reports
    for account management using SQL and Ruby.<o:p></o:p></span></p>

    <p  style='text-indent:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='text-indent:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Main Responsibilities:<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Deploy complex charts, tables, and reports to pages
    using the results sets from the <span class=SpellE>PostgreSQL</span> queries,
    for 30+ concurrent users.<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Export SQL results to spreadsheets and CSVs to report
    financial <span class=GramE>and<span style="mso-spacerun:yes">&nbsp;
    </span>performance</span> metrics to the executives.<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Collaborate with account management to create SQL-based
    reporting of account performance.<o:p></o:p></span></p>

    <p  style='text-indent:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='text-indent:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Selected Accomplishments:<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Implemented a Bash and Ruby script to automate the
    process of downloading data from websites such as Google <span class=SpellE>Adwords</span>,
    <span class=SpellE>Recurly</span>, and Metric Insights to upload to the
    database.<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>- Developed very efficient queries for complex financial
    data pulls that often topped 100+ lines of SQL code.<o:p></o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='margin-left:.5in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'><o:p>&nbsp;</o:p></span></p>

    <p  style='line-height:115%;mso-pagination:none;mso-layout-grid-align:
    none;text-autospace:none'><span style='font-family:"Times New Roman";
    mso-bidi-font-family:"Times New Roman";color:black;mso-themecolor:text1'>EDUCATION<o:p></o:p></span></p>

    <p  style='text-indent:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>Bachelor of Science; Computer Science, 2014<o:p></o:p></span></p>

    <p  style='text-indent:.25in;line-height:115%;mso-pagination:
    none;mso-layout-grid-align:none;text-autospace:none'><span style='font-family:
    "Times New Roman";mso-bidi-font-family:"Times New Roman";color:black;
    mso-themecolor:text1'>San Diego State University, San Diego, CA<o:p></o:p></span></p>

    </div>

  </div>
  <div class="col-lg-2 margin"></div>

</body>

</html>
