h1 Resume
.resume
  h2 PROFILE
  p Junior software craftsman featuring an advanced proficiency in Ruby on Rails, web frameworks and other programming languages, a passion for web 2.0 trends, APIs, and security.
  h3 TECHNICAL SKILLS
  h4 PROFICIENT
  p
    |
      Ruby, SQL, PostgreSQL, Ruby on Rails, Vim, Bash, Slim, CSS, HTML, JQuery, CoffeeScript, JavaScript, Sass, Foundation, Linux, RVM, SQLite, OS X
  h4  KNOWLEDGABLE
  p
    |
      PHP, PDO, MySQL, Python, Django, Apache, XML
  h4 USED PREVIOUSLY
  p
    |
      C/C++, Java, Oracle, Photoshop
  br
  h2 EXPERIENCE
  h3 NewHound.com (formerly AppStack.com) 2014-present
  h4 Ruby on Rails Developer
  p
    |
      Assigned as “Data Czar” by the CEO to be responsible for all things pertaining to business metrics and data. Self-managed projects to create business and customer metrics pages using Ruby on Rails and APIs to display the data in the form of HTML tables or JavaScript charting libraries.
  p Duties and Responsibilities:
  p
    |
      &nbsp; • Develop a full-stack Ruby on Rails application
  p
    |
      &nbsp; • Develop features for displaying business metrics using Highcharts JS charting library.
  p
    |
      &nbsp; • Manage projects using GitHub and Deploy changes to Heroku.
  p
    |
      &nbsp; • Collaborate with VP Engineering to design MVC arrangements to the project.
  p
    |
      &nbsp; • Learn best practices and architecture with supervision of VP Engineering.
  p
    |
      &nbsp; • Collaborate with Operations Manager to develop the necessary pages to evaluate
  p Selected Accomplishments:
  p
    |
      &nbsp; • Learned Ruby on Rails and became proficient to deploy a full-stack framework
  p
    |
      &nbsp; • Developed a presentable private website for the executives to view business metrics.
  h3 AppStack.com 2013-2014
  h4 Database Developer and Script Programmer
  p
    |
      Responsible for delivering financial reporting to CFO and COO of the company, and delivering performance reporting to Account Management using PostgreSQL with Metric Insights.
  p Duties and Responsibilities:
  p
    |
      &nbsp; • Collaborate with Account Mgmt. to create SQL-based reporting of performance and research.
  p
    |
      &nbsp; • Data Mining and SQL query confirmations to verify integrity of database tables.
  p
    |
      &nbsp; • Deploy complex charts, tables, and reports using PostgreSQL.
  p
    |
      &nbsp; • Export SQL results to excel spreadsheet standard documents via connection or CSV.
  p Selected Accomplishments:
  p
    |
      &nbsp; • Implemented a Bash script to automate the process of downloading data from Google Adwords and Recurly to upload onto the database.
  p
    |
      &nbsp; • Develop queries using efficient code and complexity for very complex 500+ lines of SQL code.
